DEPLOYMENT_URL=https://thkbprbxyg-maker.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/dev-blog/
GITHUB_ORG=thkbprbxyg-maker
GITHUB_PROJECT=dev-blog
GIT_REPOSITORY_URL=https://github.com/thkbprbxyg-maker/dev-blog
